{% extends 'base.html' %}
{% block title %}
  My Profile - CollegeCom
{% endblock title %}
{% block breadcrumb %}
<div class="d-flex align-items-center font-weight-bold my-2">
											<!--begin::Item-->
											<a href="/" class="opacity-75 hover-opacity-100">
												<i class="flaticon2-shelter text-white icon-1x"></i>
											</a>
											<!--end::Item-->
											<!--begin::Item-->
											<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
											<span class="text-white text-hover-white opacity-75 hover-opacity-100">Account Settings</span>
											<!--end::Item-->
										</div>
{% endblock breadcrumb %}
{% block begincontent %}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
					
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Profile Personal Information-->
								<div class="d-flex flex-row">
									<!--begin::Aside-->
									<div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
										<!--begin::Profile Card-->
										<div class="card card-custom card-stretch">
											<!--begin::Body-->
											<div class="card-body pt-6">
											
												<!--begin::User-->
												<div class="d-flex align-items-center">
													<div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
													<img class="image-input-wrapper" src="/media/{{euser.profileimg}}" id="profile-image-show-overview" >
														
														<i class="symbol-badge bg-success"></i>
													</div>
													<div>
														<a href="#" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">{{request.user.first_name}} {{request.user.last_name}} <i class="flaticon2-correct text-success font-size-h5"></i></a>
														<div class="text-muted">Application Developer</div>
														<div class="mt-2">
															<a href="/chat/{{request.user}}" class="btn btn-sm btn-primary font-weight-bold mr-2 py-2 px-3 px-xxl-5 my-1">Chat</a>
														</div>
													</div>
												</div>
												<!--end::User-->
												<!--begin::Contact-->
												<div class="py-9">
													<div class="d-flex align-items-center justify-content-between mb-2">
														<span class="font-weight-bold mr-2">Email:</span>
														<a href="#" class="text-muted text-hover-primary">{{request.user.email}}</a>
													</div>
													<div class="d-flex align-items-center justify-content-between mb-2">
														<span class="font-weight-bold mr-2">Semester:</span>
														<a href="#" class="text-muted text-hover-primary">{{euser.sem}}</a>
													</div>
													<div class="d-flex align-items-center justify-content-between mb-2">
														<span class="font-weight-bold mr-2">Enroll No.:</span>
														<a href="#" class="text-muted text-hover-primary">{{euser.enroll}}</a>
													</div>
													<div class="d-flex align-items-center justify-content-between">
														<span class="font-weight-bold mr-2">Location:</span>
														<span class="text-muted">{{euser.city}}</span>
													</div>
												</div>
												<!--end::Contact-->
												<!--begin::Nav-->
												<div class="navi navi-bold navi-hover navi-active navi-link-rounded">
													<div class="navi-item mb-2">
														<a href="/profile" class="navi-link py-4">
															<span class="navi-icon mr-2">
																<span class="svg-icon">
																	<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Layers.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<polygon points="0 0 24 0 24 24 0 24"></polygon>
																			<path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero"></path>
																			<path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3"></path>
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
															</span>
															<span class="navi-text font-size-lg">Profile Overview</span>
														</a>
													</div>
													<div class="navi-item mb-2">
														<a href="/edit-profile#" class="navi-link py-4 active">
															<span class="navi-icon mr-2">
																<span class="svg-icon">
																	<!--begin::Svg Icon | path:/static/media/svg/icons/General/User.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<polygon points="0 0 24 0 24 24 0 24"></polygon>
																			<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
																			<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
															</span>
															<span class="navi-text font-size-lg">Personal Information</span>
														</a>
													</div>
													<div class="navi-item mb-2">
														<a href="/delete" class="navi-link py-4">
															<span class="navi-icon mr-2">
																<span class="svg-icon">
																	<!--begin::Svg Icon | path:/static/media/svg/icons/Communication/Mail-opened.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24"></rect>
																			<path d="M6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,12 C19,12.5522847 18.5522847,13 18,13 L6,13 C5.44771525,13 5,12.5522847 5,12 L5,3 C5,2.44771525 5.44771525,2 6,2 Z M7.5,5 C7.22385763,5 7,5.22385763 7,5.5 C7,5.77614237 7.22385763,6 7.5,6 L13.5,6 C13.7761424,6 14,5.77614237 14,5.5 C14,5.22385763 13.7761424,5 13.5,5 L7.5,5 Z M7.5,7 C7.22385763,7 7,7.22385763 7,7.5 C7,7.77614237 7.22385763,8 7.5,8 L10.5,8 C10.7761424,8 11,7.77614237 11,7.5 C11,7.22385763 10.7761424,7 10.5,7 L7.5,7 Z" fill="#000000" opacity="0.3"></path>
																			<path d="M3.79274528,6.57253826 L12,12.5 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 Z" fill="#000000"></path>
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
															</span>
															<span class="navi-text font-size-lg">Delete Account</span>
														</a>
													</div>
												</div>
												<!--end::Nav-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Profile Card-->
									</div>
									<!--end::Aside-->
									<!--begin::Content-->
									<div class="flex-row-fluid ml-lg-8">
										<!--begin::Card-->
										<div class="card card-custom card-stretch">
											<!--begin::Header-->
											<div class="card-header py-3">
												<div class="card-title align-items-start flex-column">
													<h3 class="card-label font-weight-bolder text-dark">Personal Information</h3>
													<span class="text-muted font-weight-bold font-size-sm mt-1">Update your personal informaiton</span>
												</div>
												<div class="card-toolbar">
													<button onclick="updateprofile()" class="btn btn-success mr-2">Save Changes</button>
													<button type="reset" class="btn btn-secondary">Cancel</button>
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Form-->
											<form class="form">{% csrf_token %}
												<!--begin::Body-->
												<div class="card-body">
													<div class="row">
														<label class="col-xl-3"></label>
														<div class="col-lg-9 col-xl-6">
															<h5 class="font-weight-bold mb-6">Profile Info</h5>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
														<div class="col-lg-9 col-xl-6">
															<div class="image-input image-input-outline image-input-circle" id="kt_image_3">														
																<img class="image-input-wrapper" src="/media/{{euser.profileimg}}" id="profile-image-show" >
																<label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar" >
																<i class="fa fa-pen icon-sm text-muted"></i>
																<input type="file" name="profileimg" id="profileimage" accept=".png, .jpg, .jpeg" onchange="loadFile(event)"/>
																<input type="hidden" name="profile_avatar_remove"/>
																</label>

																<span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
																<i class="ki ki-bold-close icon-xs text-muted"></i>
																</span>
																</div>
															<span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
														<div class="col-lg-9 col-xl-6">
															<input class="form-control form-control-lg form-control-solid" id="firstname" type="text" value="{{request.user.first_name}}">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
														<div class="col-lg-9 col-xl-6">
															<input class="form-control form-control-lg form-control-solid" id="lastname" type="text" value="{{request.user.last_name}}">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label">Institution Name</label>
														<div class="col-lg-9 col-xl-6">
															<input class="form-control form-control-lg form-control-solid" id="institution" type="text" {% if euser.institution is not None %}value="{{euser.institution}}"{% endif %}>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label">Enrollment Number</label>
														<div class="col-lg-9 col-xl-6">
															<input class="form-control form-control-lg form-control-solid" id="enroll" type="text" {% if euser.institution is not None %}value="{{euser.enroll}}"{% endif %}>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label">City</label>
														<div class="col-lg-9 col-xl-6">
															<input class="form-control form-control-lg form-control-solid" id="location" type="text" {% if euser.institution is not None %}value="{{euser.city}}"{% endif %}>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label">Select Semester</label>
														<div class="col-lg-4 col-md-9 col-sm-12">
															<select class="form-control sem-select" id="kt_bootstrap_select"  name="select">
																	{% if euser.sem == "First" %}
																	<option value="First" selected >First</option>
																	<option value="Second">Second</option>
																	<option value="Third">Third</option>
																	<option value="Fourth">Fourth</option>
																	<option value="Fifth">Fifth</option>
																	<option value="Sixth">Sixth</option>
																	<option value="Seventh">Seventh</option>
																	<option value="Eighth">Eighth</option>
																	
																	{% elif  euser.sem == "Second"%}
																	<option value="First"  >First</option>
																	<option value="Second" selected>Second</option>
																	<option value="Third">Third</option>
																	<option value="Fourth">Fourth</option>
																	<option value="Fifth">Fifth</option>
																	<option value="Sixth">Sixth</option>
																	<option value="Seventh">Seventh</option>
																	<option value="Eighth">Eighth</option>

																	{% elif  euser.sem == "Third"%}
																	<option value="First"  >First</option>
																	<option value="Second">Second</option>
																	<option value="Third" selected>Third</option>
																	<option value="Fourth">Fourth</option>
																	<option value="Fifth">Fifth</option>
																	<option value="Sixth">Sixth</option>
																	<option value="Seventh">Seventh</option>
																	<option value="Eighth">Eighth</option>

																	{% elif  euser.sem == "Fourth"%}
																	<option value="First"  >First</option>
																	<option value="Second">Second</option>
																	<option value="Third">Third</option>
																	<option value="Fourth" selected>Fourth</option>
																	<option value="Fifth">Fifth</option>
																	<option value="Sixth">Sixth</option>
																	<option value="Seventh">Seventh</option>
																	<option value="Eighth">Eighth</option>

																	{% elif  euser.sem == "Fifth"%}
																	<option value="First"  >First</option>
																	<option value="Second">Second</option>
																	<option value="Third">Third</option>
																	<option value="Fourth">Fourth</option>
																	<option value="Fifth" selected>Fifth</option>
																	<option value="Sixth">Sixth</option>
																	<option value="Seventh">Seventh</option>
																	<option value="Eighth">Eighth</option>

																	{% elif  euser.sem == "Sixth"%}
																	<option value="First"  >First</option>
																	<option value="Second">Second</option>
																	<option value="Third">Third</option>
																	<option value="Fourth">Fourth</option>
																	<option value="Fifth">Fifth</option>
																	<option value="Sixth" selected>Sixth</option>
																	<option value="Seventh">Seventh</option>
																	<option value="Eighth">Eighth</option>

																	{% elif  euser.sem == "Seventh"%}
																	<option value="First"  >First</option>
																	<option value="Second">Second</option>
																	<option value="Third">Third</option>
																	<option value="Fourth">Fourth</option>
																	<option value="Fifth">Fifth</option>
																	<option value="Sixth">Sixth</option>
																	<option value="Seventh" selected>Seventh</option>
																	<option value="Eighth">Eighth</option>

																	{% else %}
																	<option value="First"  >First</option>
																	<option value="Second">Second</option>
																	<option value="Third">Third</option>
																	<option value="Fourth">Fourth</option>
																	<option value="Fifth">Fifth</option>
																	<option value="Sixth">Sixth</option>
																	<option value="Seventh">Seventh</option>
																	<option value="Eighth" selected>Eighth</option>
																	
																	{% endif %}
															</select>	
														</div>
													</div>
													<div class="row">
														<label class="col-xl-3"></label>
														<div class="col-lg-9 col-xl-6">
															<h5 class="font-weight-bold mt-10 mb-6" >Contact Info</h5>
														</div>
													</div>
													
													<div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
														<div class="col-lg-9 col-xl-6">
															<div class="input-group input-group-lg input-group-solid">
																<div class="input-group-prepend">
																	<span class="input-group-text">
																		<i class="la la-at"></i>
																	</span>
																</div>
																<input id="cemail" type="text" class="form-control form-control-lg form-control-solid" {% if euser.institution is not None %}value="{{euser.cemail}}"{% endif %} placeholder="Email">
															

															</div>
															<span class="form-text text-muted">We Keep Your Personal Details Secure</span>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label">Linkedin Profile</label>
														<div class="col-lg-9 col-xl-6">
															<div class="input-group input-group-lg input-group-solid">
																<input id="linkedin" type="text" class="form-control form-control-lg form-control-solid" placeholder="Linkedin Username" {% if euser.institution is not None %}value="{{euser.linkedin}}"{% endif %}>
															</div>
														</div>
													</div>
												</div>
												<!--end::Body-->
											</form>
											<!--end::Form-->
										</div>
									</div>
									<!--end::Content-->
								</div>
								<!--end::Profile Personal Information-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
{% endblock begincontent %}
{% block script %}

<script>
  function updateprofile(){
	  var data=new FormData();
	var pdata={
				firstname:$('#firstname').val(),
				lastname:$('#lastname').val(),
				institution:$('#institution').val(),
				cemail:$('#cemail').val(),
				linkedin:$('#linkedin').val(),   
				enroll:$('#enroll').val(), 
				location:$('#location').val(), 
				sem:$("#kt_bootstrap_select").val(),     
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
	  }
	  
	  data.append("profileimg",$("#profileimage")[0].files[0]);
	  var i;
	  for (var[key,value] of Object.entries(pdata)){
		  data.append(key,value);
	  }
	  $.ajax({
			type: "POST",
			url: "/update-profile",
			data:data, 
			contentType:false,
			processData:false,
			enctype: 'multipart/form-data',
			success: function (data){
				if (data==1){
					toastr.success("Profile Updated Successfully");
				}
			}
	  });
  }
</script>
<script>
  $('#kt_bootstrap_select').selectpicker();
$('#kt_bootstrap_select').on('changed.bs.select', function() {
 // Revalidate field
 validator.revalidateField('select');
});
</script>

<script>
  var loadFile = function(event) {
    var output = document.getElementById('profile-image-show');
	var output1 = document.getElementById('profile-image-show-overview');
    output.src = URL.createObjectURL(event.target.files[0]);
    output1.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
	output1.onload = function() {
      URL.revokeObjectURL(output1.src) // free memory
    }
  };
</script>
  
{% endblock script %}
  
