{% extends 'base.html' %}
{% block title %}Shop - CollegeCom{% endblock title %}
{% block pagetitle %}Shop{% endblock pagetitle %}
{% block breadcrumb %}
<div class="d-flex align-items-center font-weight-bold my-2">
											<!--begin::Item-->
											<a href="/" class="opacity-75 hover-opacity-100">
												<i class="flaticon2-shelter text-white icon-1x"></i>
											</a>
											<!--end::Item-->
											<!--begin::Item-->
											<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
											<span class="text-white text-hover-white opacity-75 hover-opacity-100">Shop</span>
											<!--end::Item-->
										</div>
{% endblock breadcrumb %}
{% block begincontent %}
   <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Page Layout-->
								<div class="d-flex flex-row">
									<!--begin::Aside-->
									<div class="flex-column offcanvas-mobile w-300px w-xl-325px" id="kt_profile_aside">
										<!--begin::Forms Widget 13-->
										<div class="card card-custom gutter-b">
											<div class="card-header border-0 pt-5">
												<h3 class="card-title align-items-start flex-column">
													<span class="card-label font-size-h3 font-weight-bolder text-dark">List An Item</span>
												</h3>
											</div>
											<!--begin::Body-->
											<div class="card-body">
												<!--begin::Form-->
												<form action="/add-product" method="post" enctype='multipart/form-data'>{% csrf_token %}
													<!--begin::Product info-->
													<div class="product-form">
														<div class="text-muted mb-4 font-weight-bolder font-size-lg">Product Info</div>
														<!--begin::Input-->
														<div class="form-group mb-8">
															<label class="font-weight-bolder">Name</label>
															<input type="text" name="title" class="form-control form-control-solid form-control-lg" placeholder="">
														</div>
														<div class="form-group mb-8">
															<label for="exampleTextarea" class="font-weight-bolder">Description</label>
															<textarea name="description" class="form-control form-control-solid form-control-lg" rows="3"></textarea>
														</div>
														<div class="form-group">
															<label class="font-weight-bolder">Price</label>
															<input type="text" name="price" class="form-control form-control-solid form-control-lg" placeholder="">
														    <span class="form-text text-muted">You May Enter ₹0 If You want to give For Free.</span>
														</div>
														<!--begin::Product images-->
													<div class="form-group">
													<label class="font-weight-bolder">Upload Product Image</label>
													   <div class="custom-file">
															<input type="file" name="productimage" class="custom-file-input" id="customFile" accept=".png, .jpg, .jpeg">
															<label class="custom-file-label" for="customFile">Product Image</label>
														</div>
													</div>
													<!--end::Product images-->
														<button type="submit" class="btn btn-primary font-weight-bolder mr-2 px-8">Save</button>
														<!--end::Input-->
													</div>
													<!--end::Product info-->
												</form>
												<!--end::Form-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Forms Widget 13-->
									</div>
									<!--end::Aside-->
									<!--begin::Layout-->
									<div class="flex-row-fluid ml-lg-8">
										<!--begin::Card-->
										<div class="card card-custom card-stretch gutter-b">
											<div class="card-body">
												<!--begin::Engage Widget 15-->
												<div class="card card-custom mb-12">
													<div class="card-body rounded p-0 d-flex" style="background-color:#DAF0FD;">
														<div class="d-flex flex-column flex-lg-row-auto w-auto w-lg-350px w-xl-450px w-xxl-500px p-10 p-md-20">
															<h1 class="font-weight-bolder text-dark">Search Itmes</h1>
															<div class="font-size-h4 mb-8">Find your needs Easily</div>
															<!--begin::Form-->
															<form class="d-flex flex-center py-2 px-6 bg-white rounded" action="/shop/search" method="get">
																<a type="submit">
																  <span class="svg-icon svg-icon-lg svg-icon-primary">
																	<!--begin::Svg Icon | path:/static/media/svg/icons/General/Search.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24"></rect>
																			<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
																			<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
																</a>
																<input type="text" name="search" class="form-control border-0 font-weight-bold pl-2" placeholder="Search Item...">
															</form>
															<!--end::Form-->
														</div>
														<div class="d-none d-md-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-left bgi-size-cover" style="background-image: url(/static/media/svg/illustrations/progress.svg);"></div>
													</div>
												</div>
												<!--end::Engage Widget 15-->
												<!--begin::Section-->
												<div class="mb-11">

													<!--begin::Products-->
													<div class="row">
														<!--begin::Product-->
														{% for p in products %}
														   <div class="col-md-4 col-xxl-4 col-lg-12">
															<!--begin::Card-->
															<div class="card card-custom card-shadowless">
																<div class="card-body p-0">
																	<!--begin::Image-->
																	<div class="overlay">
																		<div class="overlay-wrapper rounded bg-light text-center">
																			<img src="/media/{{p.productimg}}" alt="" class="mw-100 w-150px h-150px">
																		</div>
																		<div class="overlay-layer">
																			<button data-toggle="modal" data-target="#modal{{p.id}}" class="btn font-weight-bolder btn-sm btn-primary mr-2">Quick View</button>
																			<a href="/chat/{{p.postedby}}" class="btn font-weight-bolder btn-sm btn-light-primary">Message</a>
																		</div>
																	</div>
																	<!--end::Image-->
																	<!--begin::Details-->
																	<div class="text-center mt-5 mb-md-0 mb-lg-5 mb-md-0 mb-lg-5 mb-lg-0 mb-5 d-flex flex-column">
																		<a href="#" class="font-size-h5 font-weight-bolder text-dark-75 text-hover-primary mb-1">{{p.title}}</a>
																		<span class="font-size-lg">{{p.description | truncatechars:20}}</span>
																	</div>
																	<!--end::Details-->
																</div>
																<!-- Button trigger modal-->
																<!-- Modal-->
																<div class="modal fade" id="modal{{p.id}}"  tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
																	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
																		<div class="modal-content">

																		<!--Modal Content Starts Here-->


										<!--begin::Engage Widget 14-->
										<div class="card card-custom gutter-b">
											<div class="card-body p-15 pb-20">
												<div class="row">
													<div class="col-xxl-5 mb-11 mb-xxl-0">
														<!--begin::Image-->
														<div class="card card-custom card-stretch">
															<div class="card-body p-0 rounded px-10 py-15 d-flex align-items-center justify-content-center">
																<img src="/media/{{p.productimg}}" class="mw-100 w-200px" style="transform: scale(1.6);">
															</div>
														</div>
														<!--end::Image-->
													</div>
													<div class="col-xxl-7 pl-xxl-11">
														<h2 class="font-weight-bolder text-dark mb-7" style="font-size: 32px;">{{p.title}}</h2>
														<div class="font-size-h2 mb-7 text-dark-50">Price:
														<span class="text-info font-weight-boldest ml-2">₹{{p.price}}</span></div>
														<div><strong>Category:</strong> {{p.category}}</div>
														<div class="d-flex p-5">
												<span>{{p.description}}</span>
												</div>
												<div class="button p-5 ">
													<a class="btn btn-success" href="/chat/{{p.postedby}}">Message</a>
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												</div>
													</div>
												</div>
											</div>
										</div>
										<!--end::Engage Widget 14-->
																		</div>
																	</div>
																</div>
															</div>
															<!--end::Card-->
														</div>
														{% endfor %}
														<!--end::Product-->
													</div>
													<!--end::Products-->
												</div>
												<!--end::Section-->
												<!--begin::Section-->
												<div>
												</div>
												<!--end::Section-->
											</div>
										</div>
										<!--end::Card-->
									</div>
									<!--end::Layout-->
								</div>
								<!--end::Page Layout-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
{% endblock begincontent %}
   
