{% extends 'base.html' %}
{% block begincontent %}
   <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Section-->
								<div class="text-center pt-15">
									<h1 class="h2 font-weight-bolder text-white mb-6">Share Your Experience</h1>
								</div>
								<!--end::Section-->
								<!--begin::Card-->
								<div class="card card-custom gutter-b">
									<div class="card-header">
										<div class="card-title">
											<h5 class="card-label">Share Your Experience</h5>
										</div>
									</div>
									<!--begin::Form-->
									<form class="form">
										<div class="card-body">
											<div class="row">
												<div class="col-xl-3"></div>
												<div class="col-xl-6">
													<!--begin::Input-->
													<div class="form-group">
														<label>Name</label>
														<input type="text" class="form-control form-control-solid form-control-lg" placeholder="Enter your name">
													</div>
													<!--end::Input-->
													<!--begin::Input-->
													<div class="form-group">
														<label>Select Event</label>
														<div></div>
														<select class="custom-select form-control">
															<option selected="selected">Open this select menu</option>
															<option value="1">Smart India Hackathon</option>
															<option value="2">Designo</option>
															<option value="3">Eyantra</option>
														</select>
													</div>
													<!--end::Input-->
													<!--begin::Input-->
													<div class="form-group">
														<label for="exampleTextarea">Your Feedback</label>
														<textarea class="form-control form-control-solid form-control-lg" id="exampleTextarea" rows="3"></textarea>
														<span class="form-text text-muted">We'll never share your email with anyone else.</span>
													</div>
													<!--end::Input-->
												</div>
												<div class="col-xl-3"></div>
											</div>
										</div>
										<!--begin::Actions-->
										<div class="card-footer">
											<div class="row">
												<div class="col-xl-3"></div>
												<div class="col-xl-6">
													<button type="reset" class="btn btn-primary font-weight-bold mr-2">Submit</button>
												</div>
												<div class="col-xl-3"></div>
											</div>
										</div>
										<!--end::Actions-->
									</form>
									<!--end::Form-->
								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
{% endblock begincontent %}
   
