{% extends 'base.html' %}
{% block title %}
  Add Feedback - CollegeCom
{% endblock title %}
{% block pagetitle %}
   Add Feedback
{% endblock pagetitle %}
   

{% block breadcrumb %}
<div class="d-flex align-items-center font-weight-bold my-2">
											<!--begin::Item-->
											<a href="#" class="opacity-75 hover-opacity-100">
												<i class="flaticon2-shelter text-white icon-1x"></i>
											</a>
											<!--end::Item-->
											<!--begin::Item-->
											<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
											<a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Add Feedback</a>
											<!--end::Item-->
										</div>
{% endblock breadcrumb %}

{% block begincontent %}
   <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Section-->
								<div class="text-center">
									<h1 class="h2 font-weight-bolder text-white mb-6">Share Your Experience</h1>
								</div>
								<!--end::Section-->
								<!--begin::Card-->
								<div class="row">
								 <div class="col-lg-4">
										<!--begin::List Widget 8-->
										<div class="card card-custom card-stretch gutter-b">
											<!--begin::Header-->
											<div class="card-header border-0">
												<h3 class="card-title font-weight-bolder text-dark">Recent Feedbacks</h3>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-0">
											{% for f in feedbacks  %}
												<!--begin::Item-->
												<div class="mb-10">
													<!--begin::Section-->
													<div class="d-flex align-items-center">
														<!--begin::Symbol-->
														<div class="symbol symbol-45 symbol-light mr-5">
															<span class="symbol-label">
																<img src="/static/media/svg/misc/006-plurk.svg" class="h-50 align-self-center" alt="">
															</span>
														</div>
														<!--end::Symbol-->
														<!--begin::Text-->
														<div class="d-flex flex-column flex-grow-1">
															<a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">{{f.name}}</a>
															<span class="text-muted font-weight-bold">{{f.event}}</span>
														</div>
														<!--end::Text-->
													</div>
													<!--end::Section-->
													<!--begin::Desc-->
													<p class="text-dark-50 m-0 pt-5 font-weight-normal">{{f.feedback}}</p>
													<!--end::Desc-->
												</div>
												<!--end::Item-->
												{% endfor %}
											</div>
											<!--end::Body-->
										</div>
										<!--end: Card-->
										<!--end::List Widget 8-->
									</div>
								   <div class="col-lg-8">
								   		<div class="card card-custom gutter-b">
									<div class="card-header">
										<div class="card-title">
											<h5 class="card-label">Share Your Experience</h5>
										</div>
									</div>
									<!--begin::Form-->
									<form class="form">{% csrf_token %}
										<div class="card-body">
											<div class="row">
												<div class="col-xl-3"></div>
												<div class="col-xl-6">
													<!--begin::Input-->
													<div class="form-group">
														<label>Name</label>
														<input type="text" id="name" name="name" class="form-control form-control-solid form-control-lg" placeholder="Enter your name">
													</div>
													<!--end::Input-->
													<!--begin::Input-->
													<div class="form-group">
														<label>Select Event</label>
														<div></div>
														<select class="form-control" id="kt_bootstrap_select" name="event">
																<optgroup label="Event" id="event">
																	<option>Smart India Hackathon</option>
																	<option>Designo</option>
																	<option>Eyantra</option>
																	<option>Abhigyata Parv</option>
																	<option>Sports Competetion</option>
																</optgroup>
															</select>
													</div>
													<!--end::Input-->
													<!--begin::Input-->
													<div class="form-group">
														<label for="exampleTextarea">Your Feedback</label>
														<textarea name="feedback" id="feedback" class="form-control form-control-solid form-control-lg" id="exampleTextarea" rows="3"></textarea>
														<span class="form-text text-muted">We'll never share your email with anyone else.</span>
													</div>
													<!--end::Input-->
												</div>
												<div class="col-xl-3"></div>
											</div>
										</div>
									</form>
									<!--begin::Actions-->
										<div class="card-footer">
											<div class="row">
												<div class="col-xl-3"></div>
												<div class="col-xl-6">
													<button onclick="addfeedback()" class="btn btn-primary font-weight-bold mr-2">Submit</button>
												</div>
												<div class="col-xl-3"></div>
											</div>
										</div>
										<!--end::Actions-->
									<!--end::Form-->
								</div>
								   </div>
								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
{% endblock begincontent %}
   {% block script %}
       <script>
	   function addfeedback(){
	  $.ajax({
			type: "POST",
			url: "/adding-feedback",
			data:{
				name:$('#name').val(),
				event:$('#kt_bootstrap_select').val(),
				feedback:$('#feedback').val(),
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
			}, success: function (data){
				if (data==1){
					toastr.success("Feedback Added Successfully");
				}
			}
	  });
  }
</script>
<script>
   $('#kt_bootstrap_select').selectpicker();
$('#kt_bootstrap_select').on('changed.bs.select', function() {
 // Revalidate field
 validator.revalidateField('select');
});

</script>
   {% endblock script %}
  

