{% extends 'base.html' %}
{% block pagetitle %}Complaints List{% endblock pagetitle %}
{% block title  %}Complaints{% endblock title  %}
{% block begincontent %}


							<!--begin::Card-->
							<div class="card card-custom">
 <div class="card-header">
  <div class="card-title">
   <h3 class="card-label">Complaints</h3>
  </div>
  <div class="card-toolbar">
   <ul class="nav nav-bold nav-pills">
    <li class="nav-item">
     <a class="nav-link active" data-toggle="tab" href="#pending_complaints">Pending</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" data-toggle="tab" href="#solved_complaints">Solved</a>
    </li>
	 <li class="nav-item">
     <a class="nav-link" data-toggle="tab" href="#rejected_complaints">Rejected</a>
    </li>
   </ul>
  </div>
 </div>
 <div class="card-body">
  <div class="tab-content">
   <div class="tab-pane fade show active" id="pending_complaints" role="tabpanel" aria-labelledby="kt_tab_pane_7_1">
    <div class="accordion accordion-light accordion-light-borderless accordion-svg-toggle" id="accordionExample7">
								{% for c in pcomplaints %}
								<div class="card">
								<div class="card-header" id="headingOne7">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#cm{{c.id}}">
									<span class="svg-icon svg-icon-primary">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<polygon points="0 0 24 0 24 24 0 24"></polygon>
									<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
									<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
									</g>
									</svg>
									</span>
									<div class="card-label pl-4">
										<div class="d-flex flex-wrap align-items-center justify-content-between w-100">
										<!--begin::Info-->
											<div class="d-flex flex-column align-items-cente py-2 w-75">
											<!--begin::Title-->
												<a class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">{{c.title}}</a>
											<!--end::Title-->
											<!--begin::Data-->
												<span class="text-muted font-weight-bold">{{c.issuedesc}}</span>
											<!--end::Data-->
											</div>
										<!--end::Info-->
										<!--begin::Label-->
												<span class="label label-lg label-light-warning label-inline font-weight-bold py-4" id="pstatus-{{c.id}}">Pending</span>
												<span class="label label-lg label-light-success label-inline font-weight-bold py-4 " style="display:none;" id="sstatus-{{c.id}}"  >Solved</span>
												<span class="label label-lg label-light-danger label-inline font-weight-bold py-4 " style="display:none;" id="rstatus-{{c.id}}" >Rejected</span>
										<!--end::Label-->
										</div>
									</div>
								</div>
								</div>
								<div id="cm{{c.id}}" class="collapse" data-parent="#accordionExample7">
								<div class="card-body pl-12">
									<div class="row">
									<div class="col-lg-8">
										{{c.issuedesc}}
									</div>
									<div class="col-lg-4">
										<div class="button">
										
								<a onclick="check{{c.id}}()" class="btn btn-light-success btn-sm  font-weight-bold mr-2" id="mark_solved-{{c.id}}">Mark as Solved</a>{% csrf_token %}
								<a onclick="statusr{{c.id}}()" class="btn btn-light-danger btn-sm font-weight-bold mr-2">Reject Complaint</a>
								<a href="/chat/{{c.postedby}}" class="btn btn-light-primary btn-sm  font-weight-bold mr-2">Message</a>
									</div>
									</div>
									</div>
								</div>
								</div>
								</div>
								{% endfor %}

				</div>
   </div>
   <div class="tab-pane fade" id="solved_complaints" role="tabpanel" aria-labelledby="kt_tab_pane_7_2">
    <div class="accordion accordion-light accordion-light-borderless accordion-svg-toggle" id="accordionExample7">
								{% for c in scomplaints %}
								<div class="card">
								<div class="card-header" id="headingOne7">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#cm{{c.id}}">
									<span class="svg-icon svg-icon-primary">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<polygon points="0 0 24 0 24 24 0 24"></polygon>
									<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
									<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
									</g>
									</svg>
									</span>
									<div class="card-label pl-4">
										<div class="d-flex flex-wrap align-items-center justify-content-between w-100">
										<!--begin::Info-->
											<div class="d-flex flex-column align-items-cente py-2 w-75">
											<!--begin::Title-->
												<a class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">{{c.title}}</a>
											<!--end::Title-->
											<!--begin::Data-->
												<span class="text-muted font-weight-bold">{{c.issuedesc}}</span>
											<!--end::Data-->
											</div>
										<!--end::Info-->
										<!--begin::Label-->
												<span class="label label-lg label-light-success label-inline font-weight-bold py-4" id="sol_status-{{c.id}}">Solved</span>
												<span class="label label-lg label-light-danger label-inline font-weight-bold py-4 " style="display:none;" id="sol_rstatus-{{c.id}}" >Rejected</span>
										<!--end::Label-->
										</div>
									</div>
								</div>
								</div>
								<div id="cm{{c.id}}" class="collapse" data-parent="#accordionExample7">
								<div class="card-body pl-12">
									<div class="row">
									<div class="col-lg-8">
										{{c.issuedesc}}
									</div>
									<div class="col-lg-4">
										<div class="button">
										
								<a href="/chat/{{c.postedby}}" class="btn btn-light-primary btn-sm float-right  font-weight-bold mr-2">Message</a>
									</div>
									</div>
									</div>
								</div>
								</div>
								</div>
								{% endfor %}

				</div>
   </div>
   <div class="tab-pane fade" id="rejected_complaints" role="tabpanel" aria-labelledby="kt_tab_pane_7_3">
    <div class="accordion accordion-light accordion-light-borderless accordion-svg-toggle" id="accordionExample7">
								{% for c in rcomplaints %}
								<div class="card">
								<div class="card-header" id="headingOne7">
								<div class="card-title collapsed" data-toggle="collapse" data-target="#cm{{c.id}}">
									<span class="svg-icon svg-icon-primary">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<polygon points="0 0 24 0 24 24 0 24"></polygon>
									<path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
									<path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
									</g>
									</svg>
									</span>
									<div class="card-label pl-4">
										<div class="d-flex flex-wrap align-items-center justify-content-between w-100">
										<!--begin::Info-->
											<div class="d-flex flex-column align-items-cente py-2 w-75">
											<!--begin::Title-->
												<a class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">{{c.title}}</a>
											<!--end::Title-->
											<!--begin::Data-->
												<span class="text-muted font-weight-bold">{{c.issuedesc}}</span>
											<!--end::Data-->
											</div>
										<!--end::Info-->
										<!--begin::Label-->
												<span class="label label-lg label-light-danger label-inline font-weight-bold py-4" id="rej_status-{{c.id}}">Rejected</span>
												<span class="label label-lg label-light-success label-inline font-weight-bold py-4 " style="display:none;" id="rej_sstatus-{{c.id}}"  >Solved</span>
										<!--end::Label-->
										</div>
									</div>
								</div>
								</div>
								<div id="cm{{c.id}}" class="collapse" data-parent="#accordionExample7">
								<div class="card-body pl-12">
									<div class="row">
									<div class="col-lg-8">
										{{c.issuedesc}}
									</div>
									<div class="col-lg-4">
										<div class="button">
										
								<a onclick="statussol{{c.id}}()" class="btn btn-light-success btn-sm float-right font-weight-bold mr-2" id="mark_solved-{{c.id}}">Mark as Solved</a>{% csrf_token %}
								<a onclick="/chat/{{c.postedby}}" class="btn btn-light-primary btn-sm  float-right font-weight-bold mr-2">Message</a>
									</div>
									</div>
									</div>
								</div>
								</div>
								</div>
								{% endfor %}

				</div>
   </div>
  </div>
 </div>

						</div>
{% endblock begincontent %}


{% block script %}

<script type="text/javascript">
{% for c in pcomplaints %}
       function check{{c.id}}(){

    $.ajax({
        type:'POST',
        url:'/complaint-status',
        data:{
            comid:{{c.id}},
			status:"1",
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data){
            if (data==1){
				$('#pstatus-{{c.id}}').hide();
				$('#sstatus-{{c.id}}').hide();
				$('#rstatus-{{c.id}}').hide();
				$('#sstatus-{{c.id}}').show();
			}
        }     
    });
}
{% endfor %}
</script>
<script>
  {% for c in pcomplaints %}
     function statusr{{c.id}}(){

    $.ajax({
        type:'POST',
        url:'/complaint-status',
        data:{
            comid:{{c.id}},
			status:"2",
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data){
            if (data==2){
				$('#pstatus-{{c.id}}').hide();
				$('#sstatus-{{c.id}}').hide();
				$('#rstatus-{{c.id}}').show();
				$('#sstatus-{{c.id}}').hide();

				console.log({{c.id}});
			}
			else if (data==0){
				console.log("Issue Rejected");
			}
        }     
    });
}
  {% endfor %}
</script>
<script>
  {% for c in rcomplaints %}
     function statussol{{c.id}}(){
		 console.log("Rejected Complaints");
    $.ajax({
        type:'POST',
        url:'/complaint-status',
        data:{
            comid:{{c.id}},
			status:"1",
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data){
				$('#rej_status-{{c.id}}').hide();
				$('#rej_sstatus-{{c.id}}').show();
				console.log("Issue Solved");


        }     
    });
}
  {% endfor %}
</script>

{% endblock script %}